@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@font-face {
  font-family: 'Adieu Bold';
  src: url("../fonts/Adieu-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Adieu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CalibreWeb-Regular.woff2") format("woff2"), url("../fonts/CalibreWeb-Regular.woff") format("woff");
  /* Pretty Modern Browsers */ }
@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Adieu-Bold.woff2") format("woff2"), url("../fonts/Adieu-Bold.woff") format("woff");
  /* Pretty Modern Browsers */ }
h1, h2, h3, h4, h5, h6 {
  font-family: "Calibre", "Roboto", sans-serif; }

body {
  font-family: "Adieu Bold", "Roboto", sans-serif; }

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 0 .5em 0 .5em; }

h1 {
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

.body-container {
  position: relative;
  min-height: 100vh; }

.home-link {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem; }
  .home-link svg {
    border-radius: 10rem;
    fill: #ffffff;
    stroke: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 180ms ease-in-out; }
  .home-link:hover > svg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-size: .8rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .info:hover {
    text-decoration: underline; }

.wallis-home-container {
  background: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .wallis-home-container .branding-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px; }
    @media (min-width: 640px) and (max-width: 1023px) {
      .wallis-home-container .branding-flex {
        width: 100%; } }
    @media (min-width: 0px) and (max-width: 639px) {
      .wallis-home-container .branding-flex {
        flex-direction: column;
        min-width: 0;
        width: 100%; } }
    .wallis-home-container .branding-flex h1 {
      color: #ffffff;
      font-size: 7rem;
      min-width: 55%;
      line-height: 1; }
      @media (min-width: 640px) and (max-width: 1023px) {
        .wallis-home-container .branding-flex h1 {
          font-size: 4rem; } }
    .wallis-home-container .branding-flex p {
      color: #ffffff; }
  .wallis-home-container a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: underline; }

a {
  text-decoration: none; }

.arrow-navigation .prev {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem; }
.arrow-navigation .next {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem; }

.portfolio-flex {
  display: flex; }
  @media (min-width: 0px) and (max-width: 639px) {
    .portfolio-flex {
      flex-direction: column; } }

.portfolio-list {
  background: #000000;
  flex-grow: 1;
  width: 50vw;
  padding: 5rem 1rem;
  overflow: hidden; }
  .portfolio-list .links:hover > a {
    opacity: 0.5; }
  .portfolio-list a {
    display: block;
    color: #ffffff;
    margin: .5rem 0;
    font-family: "Calibre", "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    transition: opacity 180ms ease; }
  .portfolio-list .links a:hover {
    opacity: 1; }
  .portfolio-list a span {
    font-size: .7rem;
    font-weight: normal; }
  @media (min-width: 0px) and (max-width: 639px) {
    .portfolio-list {
      width: 100vw;
      height: auto; } }

.hover-image {
  flex-grow: 1;
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 0px) and (max-width: 639px) {
    .hover-image {
      width: 100vw;
      height: auto;
      min-height: 20rem; } }

.portfolio-page-master-container {
  background: #ffffff; }

.portfolio-item-info {
  background: #F0F0F0;
  min-height: 40rem;
  padding: 3rem 1rem; }
  .portfolio-item-info .portfolio-info-flex {
    display: flex;
    justify-content: center; }
  .portfolio-item-info .portfolio-item-description {
    font-size: 1.4rem;
    margin-right: 1rem;
    line-height: 1.8;
    max-width: 800px; }
  .portfolio-item-info .portfolio-item-tags {
    margin-top: 1.2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column; }
    .portfolio-item-info .portfolio-item-tags .tag {
      font-family: "Calibre", "Roboto", sans-serif;
      font-size: 1.2rem;
      margin: .5rem 0; }

.inset-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  margin-bottom: 4rem;
  height: 500px; }
  .inset-image img {
    max-width: 800px; }

.additional-content-container {
  min-height: 100vh;
  font-size: 1.4rem;
  margin-right: 1rem;
  line-height: 1.8;
  max-width: 800px; }

.full-bleed-image {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.portfolio-index-link {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 1rem;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: .8rem; }
  .portfolio-index-link:hover {
    text-decoration: underline; }

.portfolio-header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.portfolio-video-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.portfolio-video-link .play-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .portfolio-video-link .play-icon svg {
    cursor: pointer;
    stroke: #ffffff;
    fill: #ffffff;
    width: 8rem;
    height: 8rem;
    transition: transform 180ms ease-in-out, fill 180ms ease; }
    .portfolio-video-link .play-icon svg:hover {
      transform: scale(1.2, 1.2); }

@media (min-width: 0px) and (max-width: 639px) {
  .portfolio-video-link .play-icon {
    height: auto; }
    .portfolio-video-link .play-icon svg {
      width: 3rem;
      height: 3rem; } }

.portfolio-video-link .portfolio-video-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 800px; }
  .portfolio-video-link .portfolio-video-info h1 {
    font-size: 3rem;
    margin-right: 1rem;
    line-height: 1; }
  @media (min-width: 0px) and (max-width: 639px) {
    .portfolio-video-link .portfolio-video-info {
      max-width: 100%;
      margin-bottom: 1rem;
      flex-direction: column;
      margin: 1rem;
      align-items: flex-start; }
      .portfolio-video-link .portfolio-video-info h1 {
        font-size: 1.5rem; } }

.portfolio-video-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  width: 100vw;
  height: 100vh; }

.portfolio-video-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0 !important; }

.portfolio-video-container .video-close-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
  color: #ffffff;
  z-index: 10;
  font-weight: bold;
  font-size: .8rem; }
  .portfolio-video-container .video-close-link:hover {
    text-decoration: underline; }

.player-shown {
  display: block; }

.portfolio-video-contaienr div iframe {
  background: pink; }

/*# sourceMappingURL=wallis.css.map */
