{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
	<meta charset="utf-8" />
	<title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'partials/metadata.html.twig' %}

	<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
	<link rel="canonical" href="{{ page.url(true, true) }}" />

	{% block stylesheets %}
		{% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
		{% do assets.addCss('theme://css/animsition.min.css') %}
		{% do assets.addCss('theme://css/wallis.css') %}
	{% endblock %}
	{{ assets.css() }}

	{% block javascripts %}
		{% do assets.addJs('jquery', 100) %}
	{% endblock %}
	{{ assets.js() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
	<script src="https://unpkg.com/feather-icons"></script>

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div class="animsition body-container">

	{#{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <i class="fa fa-rebel"></i>
                {{ config.site.title }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
		{% endblock %}#}

{% block body %}
	{% block content %}{% endblock %}

	<!-- Home Page Link -->
	<a class="home-link" href="/"><i data-feather="circle"></i></a>

	<!-- Info Page Link -->
	<a class="info" href="/info">Info</a>

{% endblock %}

{% block footer %}

{#

<div class="footer text-center">
        <div class="wrapper padding">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
        </div>
    </div>
#}

{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
</div>

<script>
	feather.replace();
</script>

<script>
$(document).ready(function() {
  $(".animsition").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 1000,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});
</script>

</body>
</html>
