// Color Variables
// ---------------

$white: #ffffff;
$beige: #F0F0F0;
$dark-gray: #272627;
$black: #000000;

$default-background: $black;

// Breakpoint Variables
// --------------------

$phone: "(min-width: 0px) and (max-width: 639px)";
$mobile-nav: "(min-width: 0px) and (max-width: 903px)";
$mobile-nav-up: "(min-width: 904px)";
$tablet: "(min-width: 640px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// Size Variables
// --------------

$max-width: 1400px;

// Typography
// ----------

// Import Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Configure Adiue Bold
@font-face {
  font-family: 'Adieu Bold';
  src: url('../fonts/Adieu-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Adieu-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

// Configure Calibre
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Adieu-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Adieu-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}

// Font Family Variables
$heading-font-family: 'Calibre', 'Roboto', sans-serif;
$paragraph-font-family: 'Adieu Bold', 'Roboto', sans-serif;
$font-family: $paragraph-font-family;

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
}

body {
	font-family: $paragraph-font-family;
}

// Row Mixin
// ---------

@mixin row () {
  margin-left: auto;
  margin-right: auto;
	max-width: $max-width;
  padding: 0 .5em 0 .5em;
}

// Row Classes
.row {
	@include row;
}

// Box Shadow Variables
// --------------------

$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Typography
// ----------

h1 {
	margin: 0;
}

// Global Styles
// -------------

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.body-container {
	position: relative;
	//height: auto !important;
	//min-height: 100%;
	min-height: 100vh;
}

// Homepage Styles
// ---------------

// Home Page Link
.home-link {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1rem;
	svg {
		border-radius: 10rem;
		fill: $white;
		stroke: $white;
		box-shadow: $box-shadow-1;
		transition: box-shadow 180ms ease-in-out;
	}
	// Hover Action
	&:hover > svg {
		box-shadow: $box-shadow-3;
	}
}

// Info Page Link
.info {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	color: $white;
	font-weight: bold;
	font-size: .8rem;
	//text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	text-shadow: $box-shadow-1;
	&:hover {
		text-decoration: underline;
	}
}

// .wallis-home {
// 	background: $default-background;
// }

.wallis-home-container {
	background: $default-background;
	color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.branding-flex {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 900px;
		@media #{$tablet} {
			width: 100%;
		}
		@media #{$phone} {
			flex-direction: column;
			min-width: 0;
			width: 100%;
		}
		//background: pink;
		h1 {
			//background: green;
			color: $white;
			font-size: 7rem;
			min-width: 55%;
			line-height: 1;
			@media #{$tablet} {
				font-size: 4rem;
			}
		}
		p {
			//background: blue;
			color: $white;
		}
	}
	a {
		display: flex;
		align-items: center;
		color: $white;
		text-decoration: underline;
	}
}

// Anchor Styles
// -------------

a {
	text-decoration: none;
}

// Arrow Navigation
// ----------------

.arrow-navigation {
	.prev {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 1rem;
	}
	.next {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 1rem;
	}
}
