// Portfolio Page Styles
// ---------------------

.portfolio-index-link {
	color: $white;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 1rem;
	font-weight: bold;
	text-shadow: $box-shadow-1;
	font-size: .8rem;
	&:hover {
		text-decoration: underline;
	}
}

.portfolio-page-container {

}

.portfolio-header {
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.portfolio-title {
	background: $beige;
	min-height: 30vh;
	padding: 3rem 1rem;
}
