// Portfolio Index Page Styles
// ---------------------------

// Color Variables
$portfolio-bg: $default-background;
//$portfolio-link-hover-color: #B53D30;
$portfolio-link-hover-color: $dark-gray;

// Portfolio Index Container
.portfolio-index-container {

}

// Portfolio Flex Container
.portfolio-flex {
	display: flex;
	@media #{$phone} {
		flex-direction: column;
	}
}

.portfolio-list {
	background: $portfolio-bg;
	flex-grow: 1;
	width: 50vw;
	padding: 5rem 1rem;
	overflow: hidden;
	.links:hover > a {
		opacity: 0.5;
	}
	a {
		display: block;
		color: $white;
		margin: .5rem 0;
		font-family: $heading-font-family;
		font-size: 2rem;
		font-weight: bold;
		transition: opacity 180ms ease;
	}
	.links a:hover {
		opacity: 1;
	}
	a span {
		font-size: .7rem;
		font-weight: normal;
	}
	// Small Screen Styles
	@media #{$phone} {
		width: 100vw;
		height: auto;
	}
}

.hover-image {
	flex-grow: 1;
	height: 100vh;
	width: 50vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	// Small Screen Styles
	@media #{$phone} {
		width: 100vw;
		height: auto;
		min-height: 20rem;
	}
}
