// Portfolio Video Page Styles
// ---------------------------

// Full Screen Video Preview
.portfolio-video-link {
	color: $white;
	background: $black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	// Mobile Styles
	@media #{$phone} {
		justify-content: center;
	}
}

// Play Icon
.portfolio-video-link .play-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	svg {
		cursor: pointer;
		fill: $white;
		width: 8rem;
		height: 8rem;
		transition: transform 180ms ease-in-out, fill 180ms ease;
		&:hover {
			transform: scale(1.5,1.5);
			fill: rgba(0, 0, 0, 0);
		}
	}
}

// Play Icon - Mobile Styles
.portfolio-video-link .play-icon {
	@media #{$phone} {
		height: auto;
		svg {
			width: 3rem;
			height: 3rem;
		}
	}
}

// Video/Page Information
.portfolio-video-link .portfolio-video-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	max-width: 800px;
	h1 {
		font-size: 3rem;
		margin-right: 1rem;
		line-height: 1;
	}
	// Mobile Styles
	@media #{$phone} {
		max-width: 100%;
		margin-bottom: 1rem;
		flex-direction: column;
		margin: 1rem;
		align-items: flex-start;
		h1 {
			font-size: 1.5rem;	
		}
	}
}

// Hidden Video Container
.portfolio-video-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	width: 100vw;
	height: 100vh;
}

.portfolio-video-container div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: 0 !important;
}

.portfolio-video-container .video-close-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
	color: #ffffff;
	z-index: 10;
	font-weight: bold;
	font-size: .8rem;
	&:hover {
		text-decoration: underline;
	}
}

.player-shown {
	display: block;
}

.portfolio-video-contaienr div iframe {
	background: pink;
}
