// Portfolio Master Page Styles
// ----------------------------

.portfolio-page-master-container {
  background: $white;
}

.portfolio-item-info {
	background: $beige;
	min-height: 40rem;
	padding: 3rem 1rem;
  .portfolio-info-flex {
    display: flex;
    justify-content: center;
  }
  // Project Description
  .portfolio-item-description {
    font-size: 1.4rem;
    margin-right: 1rem;
    line-height: 1.8;
    max-width: 800px;
  }
  // Project Tags
  .portfolio-item-tags {
    margin-top: 1.2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    .tag {
      font-family: $heading-font-family;
      font-size: 1.2rem;
      margin: .5rem 0;
    }
  }
}

// Inset Image
// -----------
// NOTE: Need Variation on inset sizes. Not sure how to do this yet.

.inset-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  margin-bottom: 4rem;
  height: 500px;
  img {
    max-width: 800px;
    // box-shadow: $box-shadow-3;
  }
}

// Additional Content Section/Container
// ------------------------------------

.additional-content-container {
  min-height: 100vh;
  font-size: 1.4rem;
  margin-right: 1rem;
  line-height: 1.8;
  max-width: 800px;
}

// Full Bleed Image
// ----------------

.full-bleed-image {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}





.portfolio-index-link {
	color: $white;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 1rem;
	font-weight: bold;
	text-shadow: $box-shadow-1;
	font-size: .8rem;
	&:hover {
		text-decoration: underline;
	}
}

.portfolio-page-container {

}

.portfolio-header {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



// Portfolio Video Page Styles
// ---------------------------

// Full Screen Video Preview
.portfolio-video-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

// Play Icon
.portfolio-video-link .play-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	svg {
		cursor: pointer;
    stroke: $white;
		fill: $white;
		width: 8rem;
		height: 8rem;
		transition: transform 180ms ease-in-out, fill 180ms ease;
		&:hover {
			transform: scale(1.2,1.2);
			// fill: rgba(0, 0, 0, 0);
		}
	}
}

// Play Icon - Mobile Styles
.portfolio-video-link .play-icon {
	@media #{$phone} {
		height: auto;
		svg {
			width: 3rem;
			height: 3rem;
		}
	}
}

// Video/Page Information
.portfolio-video-link .portfolio-video-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	max-width: 800px;
	h1 {
		font-size: 3rem;
		margin-right: 1rem;
		line-height: 1;
	}
	// Mobile Styles
	@media #{$phone} {
		max-width: 100%;
		margin-bottom: 1rem;
		flex-direction: column;
		margin: 1rem;
		align-items: flex-start;
		h1 {
			font-size: 1.5rem;
		}
	}
}

// Hidden Video Container
.portfolio-video-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	width: 100vw;
	height: 100vh;
}

.portfolio-video-container div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: 0 !important;
}

.portfolio-video-container .video-close-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	text-align: center;
	color: #ffffff;
	z-index: 10;
	font-weight: bold;
	font-size: .8rem;
	&:hover {
		text-decoration: underline;
	}
}

.player-shown {
	display: block;
}

.portfolio-video-contaienr div iframe {
	background: pink;
}
