{% extends 'partials/base.html.twig' %}

{% block content %}
	<!-- Back to Index Link -->
	<a class="portfolio-index-link" href="/portfolio-index">Back to Index</a>

	<div class="portfolio-page-master-container">
		<!-- Portfolio Header (Image Container) or Video -->
		<div class="portfolio-header portfolio-video-link" style="background-image: url({{ page.slug }}/{{ page.header.custom.coverImage|first.name }})">
			{% if page.header.custom.videoEmbedCode == true %}
				<!-- Play Icon -->
				<div class="play-icon">
					<i data-feather="play"></i>
				</div>
			{% endif %}
		</div>

		<div class="portfolio-item-info" style="background: {{ page.header.custom.backgroundColor }}; color: {{ page.header.custom.textColor }}">
			<!-- Project Description -->
			<div class="row portfolio-info-flex">
				<div class="portfolio-item-description">
					{# <h1>{{ page.title }}</h1> #}
			    {{ page.content }}
				</div>
				<div class="portfolio-item-tags">
					<div class="tag">
						Brand Identity
					</div>
					<div class="tag">
						Art Direction
					</div>
					<div class="tag">
						Print Materials
					</div>
				</div>
			</div>
		</div>

		<!-- Inset Image -->
		<div class="inset-image">
			<img src="{{ page.slug }}/{{ page.header.custom.insetImage|first.name }}" alt="" />
		</div>

		<!-- Additional Content Container -->
		<div class="additional-content-container">
			<div class="row">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<!-- Full Bleed Image -->
		<div class="full-bleed-image" style="background-image: url({{ page.slug }}/{{ page.header.custom.fullBleedImage|first.name }})">

		</div>

		<!-- Video Container (Hidden by Default) -->
		<div class="portfolio-video-container">
			<a class="video-close-link" href="#">Close Video</a>
			{{ page.header.custom.videoEmbedCode }}
		</div>

	</div>
	<!-- JavaScript for Video Functionality -->
	<!-- NOTE: This should be moved out of this file soon -->
	<script src="https://player.vimeo.com/api/player.js"></script>

	<script>
		// Define the video "play" button
		const videoLink = document.querySelector('.play-icon');
		// Define the video container
		const videoContainer = document.querySelector('.portfolio-video-container');
		// Define the iframe (viemo stuff)
		const iframe = document.querySelector('iframe');
		// Define the player (vimeo stuff)
		const player = new Vimeo.Player(iframe);
		// Define the video close link
		const closeLink = document.querySelector('.video-close-link');

		player.on('play', function() {
			console.log('played the video!');
		});

		videoLink.addEventListener('click', () => {
			videoContainer.style.display = 'block';
			// Play the Video
			player.play().then(function() {
    		// the video was played
				}).catch(function(error) {
    			switch (error.name) {
        		case 'PasswordError':
						// Checks if the video needs a password
            break;
  		      case 'PrivacyError':
            // Checks if the video is private
            break;
      		  default:
            // Checks if some other error occurred
            break;
    		}
			});
		});

		// Add click action to the video close link
		closeLink.addEventListener('click', () => {
			// Hide the video container
			videoContainer.style.display = 'none';
			// Pause the video
			player.pause().then(function() {
    		// the video was paused
				}).catch(function(error) {
    		switch (error.name) {
        	case 'PasswordError':
            // Checks if the video needs a password
          break;
  		   	case 'PrivacyError':
            // Checks if the video is private
          break;
        	default:
            // Checks if some other error occurred
          break;
    		}
			});
		});
	</script>
{% endblock %}
