{% extends 'partials/base.html.twig' %}

{% block content %}

	<!-- Back to Index Link -->
	<a class="portfolio-index-link" href="/portfolio-index">Back to Index</a>

	<!-- Video Preview Link -->
	<div class="portfolio-video-link" href="#" style="background-image: url({{ page.slug }}/{{ page.header.custom.coverImage|first.name }})">
		<!-- Play Icon -->
		<div class="play-icon">
			<i data-feather="play"></i>
		</div>
		<!-- Video Information -->
		<div class="portfolio-video-info">
			<h1>{{ page.title }}</h1>
			{{ page.content }}
		</div>
	</div>

	<!-- Video Container (Hidden by Default) -->
	<div class="portfolio-video-container">
		<a class="video-close-link" href="#">Close Video</a>
		{{ page.header.custom.videoEmbedCode }}	
	</div>
	
	<!-- Arrow Navigation -->
	<div class="arrow-navigation">
		<a class="prev" href="#">
			<i data-feather="arrow-left"></i>
		</a>
		<a class="next" href="#">
			<i data-feather="arrow-right"></i>
		</a>
	</div>

	<script src="https://player.vimeo.com/api/player.js"></script>

	<script>
		const videoLink = document.querySelector('.play-icon');	
		const videoContainer = document.querySelector('.portfolio-video-container');

		const iframe = document.querySelector('iframe');
		const player = new Vimeo.Player(iframe);

		player.on('play', function() {
			console.log('played the video!');
		});

		videoLink.addEventListener('click', () => {
			videoContainer.style.display = 'block';
			// Play the Video
			player.play().then(function() {
    		// the video was played
				}).catch(function(error) {
    			switch (error.name) {
        		case 'PasswordError':
            // the video is password-protected and the viewer needs to enter the
            // password first
            break;

  		      case 'PrivacyError':
            // the video is private
            break;

      		  default:
            // some other error occurred
            break;
    		}
			});
		});


		// Define the video close link
		const closeLink = document.querySelector('.video-close-link');

		// Add click action to the video close link
		closeLink.addEventListener('click', () => {
			// Hide the video container
			videoContainer.style.display = 'none';
			// Pause the video
			player.pause().then(function() {
    		// the video was paused
				}).catch(function(error) {
    		switch (error.name) {
        	case 'PasswordError':
            // the video is password-protected and the viewer needs to enter the
            // password first
            break;

  		   	case 'PrivacyError':
            // the video is private
            break;

        	default:
            // some other error occurred
            break;
    		}
			});
		});

	</script>
{% endblock %}
