{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="portfolio-page-container">

		<!-- Portfolio Header (Image Container) -->
		<div class="portfolio-header" style="background-image: url({{ page.slug }}/{{ page.header.custom.coverImage|first.name }})">
		</div>

		<div class="portfolio-title">

			<!-- Back to Index Link -->
			<a class="portfolio-index-link" href="/portfolio-index">Back to Index</a>
		
			<!-- Arrow Navigation -->
			<div class="arrow-navigation">
				<a class="prev" href="#">
					<i data-feather="arrow-left"></i>
				</a>
				<a class="next" href="#">
					<i data-feather="arrow-right"></i>
				</a>
			</div>

			<div class="row">
				<h1>{{ page.title }}</h1>
		    {{ page.content }}
			</div>
		</div>

		{#		{{ page.media[header.custom.coverImage|first.name] }}	#}
		
	</div>
{% endblock %}

