{% extends 'partials/base.html.twig' %}

{% block content %}

	<div class="portfolio-flex">
		<div class="portfolio-list">
			<div class="links">
				{% for page in pages.children %}
					{% if (page.active or page.activeChild) and page.children %}
						{% for child in page.children %}
							{% if child.visible %}
								<a
									class="animsition-link"
									href="{{ child.url }}"
									data-image="{{child.slug}}/{{ child.header.custom.coverImage|first.name }}"
									>

										<!-- Display the item title -->
										{{ child.menu }}
										<!-- Display the first tag -->
										<span>{{ child.taxonomy.tag|first }}</span>

								</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div
			class="portfolio-image-container hover-image"
			style="background-image: url(portfolio-index/{{ page.children|first.slug }}/{{ page.children|first.header.custom.coverImage|first.name }})">
		</div>
	</div>

	<script>
		// Define the image container
		const imageContainer = document.querySelector('.hover-image');
		// Define the list of links
		const linkList = document.querySelectorAll('.portfolio-list a');
		// Iterate over the list of links to get image URLs
		linkList.forEach((link) => {
			console.log(link.getAttribute('data-image'));
			link.addEventListener('mouseover', () => {
				$('.hover-image').css("background-image", "url(" + "portfolio-index/" + link.getAttribute('data-image') + ")").stop(true,true).hide().fadeIn('slow')
			});
		});
	</script>

{% endblock %}
