{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="wallis-home-container">
		<div class="branding-flex">
			<h1 class="site-title">House of Wallis</h1>
			<div>
				{{ page.content }}
				<a href="/portfolio-index">Enter Site</a>
			</div>
		</div>
	</div>
{% endblock %}

